<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>mockson templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function TemplateController($scope, $http) {
        $scope.template = '';
        $scope.supports = {};
        $scope.supports.keywords = [
            "GG",
            "LL"
        ];
        $http.get("./templates/users.json")
            .success(function(data, status, headers, config) {
                if (data) {
                    $scope.template = data && JSON.stringify(data, null, 2);
                }
            })
            .error(function(data, status, headers, config) {
                $scope.template = JSON.stringify({
                    "users|5-10":[{
                        "id":"{{UUID}}",
                        "idx|+1":0,
                        "married|0-1":true,
                        "gender":"{{GENDER}}",
                        "name":"{{NAME}}",
                        "sons":null,
                        "daughters|0-3":[{
                            "age|0-31":0,
                            "name":"{{NAME[FIRST]}}"
                        }]
                    }]
                }, null, 2);
            });
            
        $scope.send = function send() {
          $scope.block = true;
          $http.post('./__mockson/generator', $scope.template)
            .success(function(data, status, headers, config){
                if (data) {
                    $scope.json = data && JSON.stringify(data, null, 2);
                }
                
                $scope.block = false;
            })
            .error(function(data, status, headers, config) {
                alert("Error generating JSON from template: " + data);
                $scope.block = false;
            });
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="TemplateController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://github.com/itkoren/mockson" class="brand">mockson</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>mockson templates</h1>
      </div>
      <div class="">
        <div class="row span9">
          <form ng-submit="send()">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="span5">Template</th>
                  <th class="span5">Generated JSON</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="msg in messages">
                  <td class="span5" ng-bind="msg.name"></td>
                  <td class="span5" ng-bind="msg.text"></td>
                </tr>
                <tr>
                  <td class="span5"><textarea class="span4" rows="18" ng-model="template" placeholder="mockson Template"></textarea></td>
                  <td class="span5"><textarea class="span4" rows="18" ng-model="json" placeholder="mockson Generated JSON"></textarea></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="row offset6">
                        <input type="submit" class="span2 btn btn-primary" value="Send" ng-disabled="!template || block" />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="row span9">
          <ul class="nav nav-list well" ng-init="keywords = [
                                                    { name: '{{NUMBER}}', desc: '' },
                                                    { name: '{{LETTER}}', desc: '' },
                                                    { name: '{{NAME}}', desc: '' },
                                                    { name: '{{NAME[FIRST]}}', desc: '' },
                                                    { name: '{{NAME[LAST]}}', desc: '' },
                                                    { name: '{{GENDER}}', desc: '' },
                                                    { name: '{{EMAIL}}', desc: '' },
                                                    { name: '{{DOMAIN}}', desc: '' },
                                                    { name: '{{IP}}', desc: '' },
                                                    { name: '{{DATE[YYYY]}}', desc: '' },
                                                    { name: '{{DATE[DD]}}', desc: '' },
                                                    { name: '{{DATE[MM]}}', desc: '' },
                                                    { name: '{{TIME[HH]}}', desc: '' },
                                                    { name: '{{TIME[MM]}}', desc: '' },
                                                    { name: '{{TIME[SS]}}', desc: '' },
                                                    { name: '{{ZIP}}', desc: '' },
                                                    { name: '{{CITY}}', desc: '' },
                                                    { name: '{{STREET}}', desc: '' },
                                                    { name: '{{PHONE}}', desc: '' },
                                                    { name: '{{UUID}}', desc: '' },
                                                    { name: '{{IPSUM}}', desc: '' },
                                                    { name: '{{IPSUM[N]}}', desc: '' }
                                                ]">
            <li class="nav-header">Supported Keywords</li>
            <li ng-repeat="keyword in keywords">
                [{{$index + 1}}] {{keyword.name}} - {{keyword.desc}}.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
  </body>
</html>